/HolaMundo/nbproject/private/
/HolaMundo/build/
/Variables/nbproject/private/
/Variables/build/
/Concatenacion/nbproject/private/
/Concatenacion/build/
/claseScanner/nbproject/private/
/claseScanner/build/
/Leccion02/tipoPrimitivo/nbproject/private/
/Leccion02/tipoPrimitivo/build/
/Leccion02/tipo_primitivo_float/nbproject/private/
/Leccion02/tipo_primitivo_float/build/
/Leccion02/ejercicio01-var-primitivos/nbproject/private/
/Leccion02/ejercicio01-var-primitivos/build/
/Leccion02/tipo_primitivo_char/nbproject/private/
/Leccion02/tipo_primitivo_char/build/
/Leccion02/tipo_primitivo_boolean/nbproject/private/
/Leccion02/tipo_primitivo_boolean/build/
/Leccion02/tipo_primitivo_boolean/dist/
/Leccion03/OperadoresAritmeticos/nbproject/private/
/Leccion03/OperadoresAritmeticos/build/
/Leccion03/Operadores-Asignacion/nbproject/private/
/Leccion03/Operadores-Asignacion/build/
/Leccion03/Operadores-Unarios/nbproject/private/
/Leccion03/Operadores-Unarios/build/
/Leccion03/Operadores-de-Igualdad/nbproject/private/
/Leccion03/Operadores-de-Igualdad/build/
/Leccion03/OperadoresRelacionales/nbproject/private/
/Leccion03/OperadoresRelacionales/build/
/Leccion03/OperadoresCondicionales/nbproject/private/
/Leccion03/OperadoresCondicionales/build/
/Leccion03/OperadorTernario/nbproject/private/
/Leccion03/OperadorTernario/build/
/Leccion03/PrecedenciaOperadores/nbproject/private/
/Leccion03/PrecedenciaOperadores/build/
/Leccion04/Sentencias-if/nbproject/private/
/Leccion04/Sentencias-if/build/
/Leccion04/sentencia-switch/nbproject/private/
/Leccion04/sentencia-switch/build/
/Leccion05/JavaApplication20/nbproject/private/
/Leccion05/JavaApplication20/build/
/Leccion06/Clases/nbproject/private/
/Leccion06/Clases/build/
/Leccion07/Aritmetica/nbproject/private/
/Leccion07/Aritmetica/build/
/Leccion07/Aritmetica/dist/
/Ejercicios/Asignatura/nbproject/private/
/Leccion08/Alcance-de-Variables/nbproject/private/
/Ejercicios/Caja/nbproject/private/
/Ejercicios/Caja/build/
/Ejercicios/Caja/dist/
/Leccion08/PasoPorValor/nbproject/private/
/Leccion08/PasoPorValor/build/
/Leccion08/Clases/build/
/Leccion08/Clases/nbproject/private/
/Leccion06/PasoPorReferencia/nbproject/private/
/Leccion08/HolaMundoJava/dist/
/Leccion09/Encapsulamiento/nbproject/private/
/Leccion09/Encapsulamiento/build/
/Leccion09/Encapsulamiento/dist/
/Leccion10/ContextoEstatico/nbproject/private/
/Leccion10/ContextoEstatico/build/
/Leccion11/Persona/nbproject/private/
/Leccion11/Herencia/nbproject/private/
/Leccion11/Herencia/build/
/Leccion11/Herencia/dist/
/Ejercicios/notas/nbproject/private/
/Ejercicios/notas/build/
/Ejercicios/IVA/nbproject/private/
/Ejercicios/IVA/build/
/Ejercicios/tablaMultiplicar/nbproject/private/
/Ejercicios/tablaMultiplicar/build/
/Ejercicios/Contraseña/nbproject/private/
/Ejercicios/Contraseña/build/
/Ejercicios/Contraseña/dist/
/Ejercicios/NumeroPrimo/nbproject/private/
/Ejercicios/NumeroPrimo/build/
/Ejercicios/IncrementoDeSalario/nbproject/private/
/Ejercicios/IncrementoDeSalario/build/
/Leccion11/SobrecargaMetodos/nbproject/private/
/Leccion11/SobrecargaMetodos/build/
/Leccion12/Paquetes/nbproject/private/
/Leccion12/Paquetes/build/
/Leccion13/PalabraFinal/nbproject/private/
/Leccion13/PalabraFinal/build/
/Leccion14/Arreglos/nbproject/private/
/Leccion14/Arreglos/build/
/Ejercicios/Array/nbproject/private/
/Ejercicios/Array/build/
/Ejercicios/Array/dist/
/Leccion14/Matrices/nbproject/private/
/Leccion14/Matrices/build/
