/HolaMundo/nbproject/private/
/HolaMundo/build/
/Variables/nbproject/private/
/Variables/build/
/Concatenacion/nbproject/private/
/Concatenacion/build/
/claseScanner/nbproject/private/
/claseScanner/build/
/Leccion02/tipoPrimitivo/nbproject/private/
/Leccion02/tipoPrimitivo/build/
/Leccion02/tipo_primitivo_float/nbproject/private/
/Leccion02/tipo_primitivo_float/build/
/Leccion02/ejercicio01-var-primitivos/nbproject/private/
/Leccion02/ejercicio01-var-primitivos/build/
/Leccion02/tipo_primitivo_char/nbproject/private/
/Leccion02/tipo_primitivo_char/build/
/Leccion02/tipo_primitivo_boolean/nbproject/private/
/Leccion02/tipo_primitivo_boolean/build/
/Leccion02/tipo_primitivo_boolean/dist/
/Leccion03/OperadoresAritmeticos/nbproject/private/
/Leccion03/OperadoresAritmeticos/build/
/Leccion03/Operadores-Asignacion/nbproject/private/
/Leccion03/Operadores-Asignacion/build/
/Leccion03/Operadores-Unarios/nbproject/private/
/Leccion03/Operadores-Unarios/build/
/Leccion03/Operadores-de-Igualdad/nbproject/private/
/Leccion03/Operadores-de-Igualdad/build/
/Leccion03/OperadoresRelacionales/nbproject/private/
/Leccion03/OperadoresRelacionales/build/
/Leccion03/OperadoresCondicionales/nbproject/private/
/Leccion03/OperadoresCondicionales/build/
/Leccion03/OperadorTernario/nbproject/private/
/Leccion03/OperadorTernario/build/
/Leccion03/PrecedenciaOperadores/nbproject/private/
/Leccion03/PrecedenciaOperadores/build/
/Leccion04/Sentencias-if/nbproject/private/
/Leccion04/Sentencias-if/build/
/Leccion04/sentencia-switch/nbproject/private/
/Leccion04/sentencia-switch/build/
/Leccion05/JavaApplication20/nbproject/private/
/Leccion05/JavaApplication20/build/
/Leccion06/Clases/nbproject/private/
/Leccion06/Clases/build/
